<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TMOScraper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TMOScraper.Properties.Settings>
            <setting name="Domain" serializeAs="String">
                <value>https://visortmo.com</value>
            </setting>
            <setting name="RetryDelay" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="ChapterDelay" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="MaxRetries" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>es-la</value>
            </setting>
            <setting name="MainFolder" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="SubFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysUsePuppeteer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConvertImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConvertFormat" serializeAs="String">
                <value>JPEG</value>
            </setting>
            <setting name="SplitImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MangoDelay" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VerboseLogging" serializeAs="String">
                <value>True</value>
            </setting>
        </TMOScraper.Properties.Settings>
    </userSettings>
</configuration>